.list-card {
    box-shadow: 0 10px 40px 0 rgb(18 106 211 / 7%), 0 2px 9px 0 rgb(18 106 211 / 6%);
    border: none;
    margin-bottom: 1.875rem;
    transition: all .3s ease;
  }
  
.clinic-card {
  background: white;
  border: none;
  padding: 30px 20px;
}

.img-thumbnail {
  padding: 0;
}

